# Notebook for testing different functions and methods.

### Testing pandas dataframe to see if it will be better than our current object-oriented construct

In [2]:
# Made sure you're in the right working directory (parent folder)
import os

os.getcwd()

'/Users/derykclary/Documents/College/NPS/3. Q3/Comp_Methods_2/Final_Project'

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Read the IMO CSV
df_piracy = pd.read_csv('Data_Files/IMO Piracy - 2000 to 2022 (PDV 01-2023).csv')
df_piracy

,Incident Date,Ship Name,Ship Flag,Ship Type,Area,Latitude,Longitude,Consequences to Crew,Part of Ship Raided,Ship Status,Weapons Used,Flag - Crew Injuries,Flag - Crew Held Hostage,Flag - Crew Missing,Flag - Crew Deaths,Flag - Crew Assaulted
0,3/18/2010,AL-ASA'A,Yemen,Dhow,In international waters,NaN,NaN,Ship Hijacked,Not Stated,Not Stated,None or Not Reported,False,True,False,False,False
1,5/25/2010,AL JAWAT,Yemen,Dhow,In international waters,NaN,NaN,Ship Hijacked,Not Stated,Steaming,None or Not Reported,False,False,False,False,False
2,2/13/2011,AL FARDOUS,Yemen,Fishing vessel,In territorial waters,NaN,NaN,Ship Hijacked,Not Stated,Steaming,None or Not Reported,False,False,False,False,False
3,4/16/2011,ABDI KHAN,Yemen,Fishing vessel,In international waters,11.900000,54.083333,Ship Hijacked,Not Stated,Steaming,None or Not Reported,False,True,False,False,False
4,1/14/2012,AL WASIL,Yemen,Dhow,In international waters,NaN,NaN,Ship Hijacked,Not Stated,Steaming,None or Not Reported,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,12/30/2009,GULF ELAN,Bahamas,Chemical tanker,In port area,22.690000,113.696667,No Consequences or Not Stated,Engine Room,At Anchor,None or Not Reported,False,False,False,False,False
4810,11/7/2008,CEC FUTURE,Bahamas,General cargo ship,In international waters,12.766667,45.933333,Ship Hijacked,Engine Room,Steaming,None or Not Reported,False,True,False,False,False
4811,2/13/2006,ASPEN ARROW,Bahamas,General cargo ship,In port area,NaN,NaN,No Consequences or Not Stated,Engine Room,At Anchor,None or Not Reported,False,False,False,False,False
4812,10/24/2009,ELLEN S,Antigua and Barbuda,Container ship,In territorial waters,20.641667,106.880000,Not Reported,Engine Room,At Anchor,None or Not Reported,False,False,False,False,False
4813,6/5/2006,PRINCESS MARY,Antigua and Barbuda,General cargo ship,In port area,-5.888000,106.088167,Threat of Violence Against Crew,Engine Room,At Anchor,Knives,False,False,False,False,False

In [5]:
df_piracy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4814 entries, 0 to 4813
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Incident Date             4814 non-null   object
 1   Ship Name                 4748 non-null   object
 2   Ship Flag                 4814 non-null   object
 3   Ship Type                 4814 non-null   object
 4   Area                      4814 non-null   object
 5   Latitude                  2819 non-null   float64
 6   Longitude                 2830 non-null   float64
 7   Consequences to Crew      4814 non-null   object
 8   Part of Ship Raided       4814 non-null   object
 9   Ship Status               4814 non-null   object
 10  Weapons Used              4814 non-null   object
 11  Flag - Crew Injuries      4814 non-null   bool
 12  Flag - Crew Held Hostage  4814 non-null   bool
 13  Flag - Crew Missing       4814 non-null   bool
 14  Flag - Crew Deaths        4814 non-null   bool
 15  Flag - Crew Assaulted     4814 non-null   bool
dtypes: bool(5), float64(2), object(9)
memory usage: 437.3+ KB

In [6]:
df_piracy.describe()

          Latitude    Longitude
count  2819.000000  2830.000000
mean      5.306160    61.519350
std       9.509120    60.750161
min     -34.350000  -107.301000
25%       1.100000     7.899583
50%       3.386667    98.756167
75%      10.256667   104.598833
max      45.524833   152.186667

In [9]:
df_piracy['Ship Flag'].value_counts()

Ship Flag
Panama              719
Singapore           634
Liberia             527
Marshall Islands    415
Malaysia            245
                   ...
Haiti                 1
Grenada               1
Jamaica               1
Mozambique            1
Ethiopia              1
Name: count, Length: 122, dtype: int64